:root {
  --blue: hsl(223, 87%, 63%);
  --light-blue: hsl(223, 87%, 75%);
  --pale-blue: hsl(223, 15%, 58%);
  --light-red: hsl(354, 100%, 66%); 
  --gray: hsl(0, 0%, 59%);
  --very-dark-blue: hsl(209, 33%, 12%);
}

body {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 1.4rem;
}
section {
  padding: 1rem;
}
/* 
  utilities 
*/
.text-light-1 {
  color: var(--gray);
}
.text-dark-1 {
  color: var(--very-dark-blue);
}
.bg-blue {
  background-color: var(--blue);
}
.w-md-80 {
  width: 80vw;
  max-width: 700px;
}
/* 
  Form email input 
*/
.form-size {
  width: inherit;
  max-width: 350px;
}
.input-email-error {
  border: 1px solid red !important;
}
.message-error {
  opacity: 0;
  color: red;
  font-size: .8rem;
  font-style: italic;
  text-align: center;
  margin-top: .5rem;
  padding-left: .5rem;
} 
.border-blue {
  border: 1px solid var(--light-blue) !important;
}
.btn:hover,
.btn:focus-visible {
  background-color: var(--light-blue) !important;
}

/* 
  Social icons 
*/
.list-group-item {
  transition: .1s ease;
}
svg path {
  fill: var(--blue);
}
.border-gray {
  color: var(--gray);
}

@media screen and (min-width: 768px) { 
  .form-size {
    max-width: 520px;
  }
  input {
    width: 350px !important;
  }
  .message-error {
    text-align: left;
  }
  .btn {
    width: 20vw !important;
    max-width: 180px;
    transition: .1s ease;
  }
}
@media screen and (min-width: 800px) { 
  .form-size {
    max-width: 550px;
    height: 120px; 
  }
}